.greeting-container {
  background: rgb(226, 238, 152);
  background: linear-gradient(
    180deg,
    rgba(226, 238, 152, 1) 0%,
    rgba(135, 164, 55, 1) 60%
  );
  clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}
